@import "../../sass/main.scss";
.slick-slider.slick-initialized {
    .anticon.anticon-right.slick-arrow.slick-next {
        font-size: 50px;
        color: $c-gray-0;
        margin-bottom: 20px;
        position: absolute;
        top: 46%;
        &:hover {
            color: $c-gray-0;
        }
    }
    .anticon.anticon-left.slick-arrow.slick-prev {
        font-size: 50px;
        color: $c-gray-0;
        margin-bottom: 20px;
        position: absolute;
        top: 46%;
        left: -6%;
        &:hover {
            color: $c-gray-0;
        }
    }
} 
.showTimes-item {
    position: relative;
    padding: $pd-1;
    cursor: pointer;
    
    .film_thumbnail {
        width: 215px;
        height: 318px;
    }


    .showTimes-item_overlay {
        position: absolute;
        top: 2.4%;
        left: 4.5%;
        opacity: 0;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.432), $c-black-0);
        width: 92%;
        height: 77.3%;
        border-radius: 10px;
        transition: all 0.2s;

        img {
            opacity: 0;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 38%;
            top: 42%;
            transition: all 0.2s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &:hover {
        .showTimes-item_content {
            display: none;
        }

        .showTimes-item_overlay {
            opacity: 1;

            img {
                opacity: 1;
            }
        }

        .showTimes-item_content1 {
            width: 215px;
            display: block;
        }
    }

    img {
        border-radius: $border-radius;
    }

    .showTimes-item_content1 {
        display: none;
        margin-top: 8px;
        background-color: $c-orange-0;
        color: $c-white-0;
        text-align: center;
        padding: 10px 0;
        border-radius: $border-radius;
        margin-bottom: 23.5px;

        p {
            margin: 0;
        }

        &:hover {
            background-color: #fa4c31;
        }
    }

    .showTimes-item_content {
        p {
            margin: 0;
            margin-top: 8px;
            @include textStyle($fs-2 - 2, $fw-normal, $c-black-0);

        }

        p:first-child {
            height: 48px;
            overflow-y: hidden;
        }

        p:nth-child(2) {
            @include textStyle($fs-1, $fw-normal, $c-gray-0);
            margin-top: 0;
        }
    }

    .showTimes-item_booking {
        position: absolute;
        z-index: 100;
        top: -15px;
        left: -10px;
        width: 62%;
    }

    .showTimes-item_rank {
        width: 56px;
        position: absolute;
        top: 5%;
        right: 10%;
        background-color: $c-blue-0;
        border: 1px solid $c-blue-1;
        border-radius: 4px;
        text-align: center;
        padding: $pd-0;

        p {
            margin: 0;
            @include textStyle($fs-1 + 3, $fw-bold, $c-white-0);
        }

        .showTimes-item_star {
            img {
                width: 10px;
            }
            z-index: 99;
            display: flex;
           
        }
    }
   
    
}
    @include respond("medium-large") {

            width: 90% !important;

            .showTimes-item {
                padding-bottom: 9px;
                
            }
            .showTimes-item_overlay {
                position: absolute;
                border-radius: $border-radius;
                top: 12px;
                width: 89%;
            }
            .showTimes-item_content {
                width: 100%;

                p:first-child {
                    height: 48px;
                    overflow-y: hidden;
                }
            }
        }

        @include respond("medium") {
            width: 100% !important;

            .owl-theme {
                .owl-nav {
                    display: none;
                }
            }

            .showTimes-item_overlay {
                padding: 0;
                position: absolute !important;
                border-radius: $border-radius;
                top: 7px;
                width: 88% !important;
                height: 70% !important;
            }

        }
