// variable color
$c-black-0: #000; // default
$c-white-0: #fff; //default
$c-gray-0: #9b9b9b;
$c-gray-1: rgba(246, 246, 246, 0.5);
$c-gray-2: #4a4a4a;
$c-gray-3: #949494;
$c-gray-4: #e4e4e4;
$c-gray-5: #222;
$c-gray-6: #bbb;
$c-blue-0: rgba(12, 27, 54, 0.8);
$c-blue-1: #1f2e46;
$c-orange-0: #fb4226;
$c-green-0: #00ac4d;

// variable font-size
$fs-0: 14px; //default
$fs-1: 13px;
$fs-2: 18px;
$fs-3: 20px;
//Còn 1 font-size: 36px;
$fs-4: 32px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 20px;

//variable border-radius
$border-radius: 4px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;

//variable line-height
$line-height-0: 1.43; //default

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;

//break points
$breakpoints: ("extra-large": 1280px,
    "medium-large": 1024px,
    "large": 992px,
    "medium": 768px,
    "small": 640px,
    "extra-small": 480px,
);
